<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../images/jj.jpg">
      <div class="caption">
        <h2>Cool Event Title</h2>
        <p>August 2, 2015 through August 6, 2015</p>

        <p>Sample Event Description</p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h2>Second Event Title</h2>
        <p>August 2, 2015 through August 6, 2015</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h2>Another Event Title</h2>
        <p>August 2, 2015 through August 6, 2015</p>

        <p>Sample Event Description</p>
      </div>
    </div>
  </div>
</div>

{{!-- {{#each model do |event|}}
  {{event.image}}
  {{event.title}}
  {{event.start_date}} through {{event.end_date}}
  {{event.description}}
{{/each}} --}}

{{yield}}
