<div class="row">
  {{#masonry-grid}}
    {{#each model as |event|}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{event.thumbnail.url}}">
          <div class="caption">
            <h2>{{event.title}}</h2>
            <p>{{event.start_date.iso}} through {{event.end_date.iso}}</p>
            <p>{{event.description}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  {{/masonry-grid}}
</div>

{{yield}}
