<div class="row">
{{#gallery-modal images=model as |openGallery|}}
  {{#masonry-grid}}
    {{#each model as |img index|}}
      <div class="col-xs-12 col-sm-3 col-md-4">
        <div class="image-index-thumbnail thumbnail">
          <img src="{{img.thumbnail.url}}" alt="" {{action openGallery index}} />
          <div class="caption">
            {{#link-to 'tattoo.show' img.objectId}}
              <h4><strong>{{img.title}}</strong></h4>
            {{/link-to}}
            {{img.caption}}
            <ul class="image-tags">
              {{#each img.tags as |tag|}}
                <li class="image-tag text-muted">{{#link-to 'tattoo.tags.show' tag}}{{tag}}{{/link-to}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    {{/each}}
  {{/masonry-grid}}
{{/gallery-modal}}
</div>
