<div class="thumbnail">
  <img src="{{product.image.url}}" {{action openGallery index}} />
  <div class="caption">
    {{#link-to 'store.show' product.objectId}}
      <h2>{{product.title}}</h2>
    {{/link-to}}
    <p>{{product.description}}</p>
    <p>To purchase: {{product.purchase}}</p>
    <p class="text-muted">{{product.price}}</p>
  </div>
</div>
