{{#masonry-grid}}
  {{#each model as |img|}}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        {{#link-to 'tattoo.show' img}}
          <img src="{{img.image.url}}" alt="" />
        {{/link-to}}
        <div class="caption">
          <h4>{{img.title}}</h4>
          {{img.caption}}
          <ul class="tattoo-tags">
            {{#each img.tags as |tag|}}
              <li class="tattoo-tag text-muted">{{#link-to 'tattoo.tags.show' tag}}{{tag}}{{/link-to}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/each}}
{{/masonry-grid}}

{{yield}}
