{{log 'model' model}}
{{log 'tag' tag}}

{{#each model as |tag|}}
  <div class="col-xs-6 col-med-4">
    {{!-- {{#link-to 'tattoo.show' img class="thumbnail"}} --}}
    <div class="thumbnail">
      <img src="{{img.image.url}}" alt="" />
      <div class="caption">
        <h4>{{img.title}}</h4>
        {{img.caption}}
        <p>{{#each img.tags as |tag|}}
          {{#link-to 'tattoo.tags.show' tag}}{{tag}}{{/link-to}}
        {{/each}}</p>
      </div>
    </div>
    {{!-- {{/link-to}} --}}
  </div>
{{/each}}

{{yield}}
