<div class="thumbnail">
  <img src="{{invoke (g model 'image') 'url'}}">
  <div class="caption">
    <h2>{{g model 'title'}}</h2>
    <p>{{date-range (g model 'start_date') (g model 'end_date')}}</p>
    <p>{{g model 'description'}}</p>
    <p><u><a href="{{g model 'event_url'}}">{{g model 'event_url_title'}}</a></u></p>

    {{#if (g model 'appointments_available')}}
      {{#link-to 'events.appointment' model.id }}
        <p class="btn btn-primary btn-sm" role="button" {{action "showEdit"}}>Request an appointment for this event</p>
      {{/link-to}}
    {{/if}}

    {{#if session.isAuthenticated}}
      {{#if isHidden}}
        <p class="btn btn-primary" role="button" {{action "showEdit"}}>Edit</p>
        <p class="btn btn-primary" role="button" {{action "deleteEvent"}}>Delete</p>
      {{else}}
        <div class="upload-event">
          <div class="form-group">
            <label for="event-tile">Event Name</label>
            {{input type=text value=title class="form-control" id="event-name"}}
          </div>
          <div class="form-group">
            <label for="start-date">Start Date</label>
            {{bootstrap-datepicker value=start_date class="form-control" id="start-date"}}
          </div>
          <div class="form-group">
            <label for="end-date">End Date</label>
            {{bootstrap-datepicker value=end_date format=dateFormatter class="form-control" id="end-date"}}
          </div>
          <div class="form-group">
            <label for="event-desc">Description</label>
            {{input type=text value=description format=dateFormatter class="form-control" id="event-desc"}}
          </div>
          <div class="form-group">
            <label for="event-url-tile">Event URL Title</label>
            {{input type=text value=event_url_title class="form-control" id="event-url-title"}}
          </div>
          <div class="form-group">
            <label for="event-url">Event URL</label>
            {{input type=text value=event_url class="form-control" id="event-url"}}
          </div>
          <div class="form-group">
            {{upload-image-button value=image}}
          </div>
          <div class="form-group">
            <label for="event-image-file">Appointments Available at this Event?</label>
            {{input type="checkbox" name="appointments_available" checked=appointments_available id="event-appt" required=false}}
          </div>
          <button class="btn btn-primary submit-button" {{action "saveEvent"}}>Submit</button>
          <button {{action "cancelEdit"}} class="btn btn-primary cancel-button">Cancel</button>
          <hr>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>

{{yield}}
