<div class="row">


<div class="col-sm-4 col-md-6">
  <h1>Upload Image</h1>
  <div class="upload-tattoo">
    <div class="form-group">
      <label for="image-name">Image Name</label>
      {{input type=text value=name class="form-control" id="image-name"}}
    </div>
    <div class="form-group">
      <label for="image-caption">Caption</label>
      {{input type="textarea" rows=3 value=caption class="form-control" id="image-caption"}}
    </div>
    <div class="form-group">
      <label for="image-file">Select File</label>
      {{input type="file" value=file class="form-control" id="image-file"}}
    </div>
    <div class="form-group">
      <label>Category:</label>
      <select class="form-control" name="categories">
        <option>Select a Category</option>
        <option>Black & Grey</option>
        <option>Color</option>
        <option>Dotwork</option>
        <option>Illustration</option>
        <option>Realistic</option>
      </select>
    </div>
    <div class="form-group">
      <label>Tags:</label>
        <select multiple class="form-control">
          <option>floral</option>
          <option>botanical</option>
          <option>bird</option>
          <option>space</option>
          <option>black line</option>
          <option>illustration</option>
          <option>mandala</option>
          <option>dot work</option>
          <option>quirky</option>
          <option>grateful dead</option>
          <option>tree</option>
          <option>portrait</option>
          <option>insect</option>
          <option>animal</option>
          <option>color</option>
          <option>black and grey</option>
          <option>lettering</option>
          <option>asian inspired</option>
          <option>nautical</option>
          <option>trash polka</option>
          <option>food & drink</option>
          <option>scifi</option>
          <option>fine art inspired</option>
          <option>skull</option>
          <option>pin up</option>
          <option>ocean</option>
          <option>religious</option>
          <option>science</option>
          <option>eye</option>
          <option>comic</option>
          <option>patriotic</option>
          <option>cover up</option>
          <option>egyptian inspired</option>
          <option>native american inspired</option>
          <option>anatomical</option>
          <option>anchor</option>
          <option>sports</option>
          <option>heart</option>
          <option>realism</option>
          <option>geometric</option>
          <option>blackwork</option>
        	<option>American Traditional</option>
          <option>knotwork</option>
          <option>tiny</option>
        </select>
    </div>

    {{!-- <div class="checkbox">
      <label>Select Tags:</label>
      <label>
        {{input type="checkbox"}}Tag Example
      </label>
      <label>
        {{input type="checkbox"}}Tag Example
      </label>
      <label>
        {{input type="checkbox"}}Tag Example
      </label>
      <label>
        {{input type="checkbox"}}Tag Example
      </label>
    </div> --}}
    {{!-- {{multiselect-checkboxes options=taglist}} --}}
    <button {{action 'submit-tattoo' class="btn btn-primary"}}>Submit</button>
  </div>
</div>

<div class="col-sm-4 col-md-6">
<h1>Add New Event</h1>
<div class="upload-tattoos">
  <div class="form-group">
    <label for="event-tile">Event Name</label>
    {{input type=text value=title class="form-control" id="event-name"}}
  </div>
  <div class="form-group">
    <label for="start-date">Start Date</label>
    {{bootstrap-datepicker placeholder="Click to Select Start Date" class="form-control" id="start-date"}}
  </div>
  <div class="form-group">
    <label for="end-date">End Date</label>
    {{bootstrap-datepicker placeholder="Click to Select End Date" class="form-control" id="end-date"}}
  </div>
  <div class="form-group">
    <label for="event-desc">Description</label>
    {{input type=text value=title class="form-control" id="event-desc"}}
  </div>
  <div class="form-group">
    <label for="event-image-file">Attach An Image</label>
    {{input type="file" value=file class="form-control" id="event-image-file"}}
  </div>
  <button {{action 'submit-event' class="btn btn-primary"}}>Submit</button>
</div>
</div>
</div>

{{outlet}}
